// Mixins in here

.sign-up-buttons(@background: teal, @color: white, @font-size: 18px, @font-weight: bold) {
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    background: teal;
    color: white;
    font-size: 18px;
    font-weight: bold;
}